{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        <h1 class="data-virus">Today there are ... confirmed, ... dead, ... recovered individuals in relation to the current coronavirus (nCov-2019).</h1>
        <br>
        <p class="timestamp-virus">Last data on ... .</p>
    </div>
    <div>
        <div class="col-xs-12 col-lg-6" id="chartArea">
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
{% if refresh_time %}
<script>var intervalRefresh = {{ refresh_time }};</script>
{% else %}
<script>var intervalRefresh = 60;</script>
{% endif %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="{{url_for('.static', filename='custom.js')}}"></script>
{% endblock %}
